# Environment files
.env
*/.env
*/.env.local

# Build and cache directories
protocol/artifacts/
protocol/cache/
protocol/deployedAddresses.json
hgc/data/
hgc/node_modules
hgc/.env

# Node dependencies
node_modules/
